<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Logical Enigma is a playground for new ideas featuring mobile applications for currency conversion and headache logs.">
    <meta name="author" content="David Nachman">
    <link rel="icon" href="favicon.ico">

    <title>
        <%= site_title %>
    </title>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/css/simple-line-icons.css">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <link rel="stylesheet" href="/css/blue.css">

    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

    <style>
        #fixme {
            border: 20px;
            border-color: black;
            border-style: double;
        }
        
        #home {}
        
        .section-heading.app-title h3 {
            font-size: 35px;
        }
        
        .section-heading.app-title h3:after {
            content: "";
            position: absolute;
            display: block;
            width: 80px;
            height: 2px;
            background: #2185d5;
            left: 50%;
            margin-left: -40px;
            bottom: 0;
        }
        
        .app-content .app-image {
            padding-left: 50px;
            padding-right: auto;
        }
        
        .app-title {
            font-weight: bolder;
        }
        
        .app-content div,
        .app-content ul {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .app-store-icons {
            padding-left: auto;
            padding-right: auto;
        }
        
        .app-store-icon {
            margin: 10px 10px 10px 10px;
            width: 172px;
            height: 60px;
        }
        
        .app-list {
            clear: both;
            margin-left: auto;
            margin-right: auto;
        }
        
        .app-list h1 {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        
        .app-list p {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        
        .box div ul {
            text-align: left;
        }
    </style>

</head>

<body>

    <%- partial("_partials/header") %>

        <div class="container" role="main">
            <%- yield %>
        </div>
        <!-- /container -->

        <%- partial("_partials/tracking") %>

            <%- partial("_partials/footer") %>



                <!-- jQuery -->
                <script src="/js/jquery.min.js"></script>
                <!-- jQuery Easing -->
                <script src="/js/jquery.easing.1.3.js"></script>
                <!-- Bootstrap -->
                <script src="/js/bootstrap.min.js"></script>
                <!-- Waypoints -->
                <script src="/js/jquery.waypoints.min.js"></script>
                <!-- Owl Carousel
                <script src="js/owl.carousel.min.js"></script>
                 -->

                <!-- Main JS (Do not remove) -->
                <script src="/js/main.js"></script>
                <script src="/js/logical-enigma.js"></script>

                <%- partial("_partials/tracking") %>

</body>

</html>